<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<mvc:annotation-driven />
	
	<!-- 
		http://localhost:8080/hello_spring/static/js/jquery-3.1.1.min.js
			-> /WEB-INF/resources/js/jquery-3.1.1.min.js
	 -->
	<mvc:resources location="/WEB-INF/resources/js/" mapping="/static/js/**" />
	<mvc:resources location="/WEB-INF/resources/css/" mapping="/static/css/**" />
	<mvc:resources location="/WEB-INF/resources/img/" mapping="/static/img/**" />
	
	<bean id="viewResolver" 
			class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<bean id="khwController" class="com.ktds.khw.KhwController"></bean>
	<bean id="boardController" class="com.ktds.khw.board.web.BoardController">
		<property name="boardService" ref="boardServiceImpl"></property>
	</bean>
	
	<bean id="userController" class="com.ktds.khw.user.web.UserController">
		<property name="userService" ref="userServiceImpl"></property>
	</bean>

</beans>
